.text-bold{
    font-weight: bold;
}

.logo-image{
    width: 200px;
}

body {
    width: 1000px;
    height: 1414px;
    padding: 15px 0;
}

.no-bottom-margin {
    margin-bottom: 0!important;
}

.high-row{
    height: 700px;
}

.medium-row{
    height: 60px;
}

.small-td{
    width: 150px;
}

.large-td{
    width: 400px;
}

.page {
    overflow: hidden;
    page-break-after: always;
}

table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}

.height-20-px {
    margin-top:20px;
    height:1px;
}

.height-40-px {
    margin-top:40px;
    height:1px;
}

.height-60-px {
    margin-top:40px;
    height:1px;
}

.height-120-px {
    margin-top:120px;
    height:1px;
}

.text-indent {
    display: inline-block;
    width: 50px;
}

.font-size-18 {
    font-size: 18px;
}