.text-bold{
    font-weight: bold;
}

.logo-image{
    width: 200px;
}

body {
    width: 1000px;
    height: 1414px;
    padding: 15px 0;
}

.no-bottom-margin {
    margin-bottom: 0!important;
}

.high-row{
    height: 700px;
}

.medium-row{
    height: 60px;
}

.small-td{
    width: 150px;
}

.large-td{
    width: 400px;
}

.page {
    overflow: hidden;
    page-break-after: always;
}