.text-bold{
    font-weight: bold;
}

.logo-image{
    width: 200px;
}

body {
    width: 1000px;
    height: 1414px;
    padding: 15px 0;
    text-align: justify;
}

.no-bottom-margin {
    margin-bottom: 0!important;
}

.high-row{
    height: 700px;
}

.medium-row{
    height: 60px;
}

.small-td{
    width: 150px;
}

.large-td{
    width: 400px;
}

.page {
    overflow: hidden;
    page-break-after: always;
}

tr, td, th, thead, tfoot {
    page-break-inside: avoid !important;
}

.height-20-px {
    margin-top:20px;
    height:1px;
}

.height-40-px {
    margin-top:40px;
    height:1px;
}

.height-60-px {
    margin-top:40px;
    height:1px;
}

.height-120-px {
    margin-top:120px;
    height:1px;
}

.text-indent {
    display: inline-block;
    width: 50px;
}

.text-small-indent {
    display: inline-block;
    width: 30px;
}

.font-size-18 {
    font-size: 18px;
}

.section-group {
    margin-left: 30px;
}

.section-group p {
    margin: 10px 0 0 0;
}

.section-group ul {
    margin-left: 30px;
}

.no-margin-left {
    margin-left: 0;
    padding-left: 0 !important;
}

.no-margin-right {
    margin-right: 0;
    padding-right: 0 !important;
}

.section-group2 {
    margin-left: 20px;
}

.section-group3 {
    margin-left: 30px;
}

.section-group3 ul {
    margin: 0 0 10px 0;
    padding: 0;
}

.section-group3 li {
    list-style-type: none;
}

.section-group4 {
    margin-left: 30px;
}

.section-group5 {
    margin-left: 60px;
}

.section-group4 ul, .section-group5 ul {
    margin: 0 0 10px 0;
    padding: 0;
    list-style-type: bullet;
}

ol.section-group6 {
    padding: 20px;
}

.list-bold {
    font-size: 18px;
    text-align: justify;
    line-height: 24px;
}

.list-bold td {
    vertical-align: top;
}

.clear-both {
    clear: both;
}

table.pdf-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.pdf-table th, .pdf-table td {
    border: 1px solid black;
    padding: 5px;
}

.pdf-table th {
    font-weight: normal;
    text-align: center;
}

.width-35-px {
    width: 35px;
}

.width-200-px {
    width: 200px;
}

.width-300-percent {
    width: 300px;
}

.vertical-middle {
    vertical-align: middle !important;
}