{% block label_info %}
    {% if label_info != '' %}
        <a class="show-at-hover">
            <img src="{{ asset('assets/images/info.png') }}" />
            <span>{{ label_info }}</span>
        </a>
    {% endif %}
{% endblock %}
