<div class="modal fade bs-modal-sm" id="orderRemoveConfirmModal" tabindex="-1" role="dialog" aria-labelledby="orderRemoveConfirmModalLabel">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="orderRemoveConfirmModalLabel">{{ 'modal.order-remove-confirm.title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'modal.order-remove-confirm.body'|trans }}</p>
                <input type="hidden" id="orderRemoveConfirmModalPath">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.button.no'|trans }}</button>
                <button type="button" class="btn btn-primary" id="orderRemoveConfirmModalYes">{{ 'modal.button.yes'|trans }}</button>
            </div>
        </div>
    </div>
</div>
