<div class="col-xs-3 set-width">
  <p class="text-center" id="img1">
      <img class="responsiv" src="{{ asset('assets/images/publicitate.png') }}" alt="" />
  </p>
  <p class="text-center" id="img2">
      <img class="responsiv" src="{{ asset('assets/images/publicitate.png') }}" alt="" />
  </p>
  <p class="text-center" id="img3">
      <img class="responsiv" src="{{ asset('assets/images/publicitate.png') }}" alt="" />
  </p>
</div>

