{% extends "base.html.twig" %}

{% block ccontainer %}
    <h1 class="title-top">Bonusuri</h1>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <i class="fa fa-check color-green"></i> Cont gratuit pentru a testa utilitatea serviciului Online51 pentru firma ta
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <p> Ai posibilitatea de a crea un cont gratuit care iti permite sa testezi domeniul dorit. Poti face acest lucru astfel: <br />
            a.	Completeaza QUIZ-ul afferent fiecarui domeniu<br />
            b.	Apasa butonul CONT GRATUIT de pe pagina oricarui tip de abonament<br />
            c.	Apasa butonul CONT GRATUIT din meniul Acces client<br />
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
             <i class="fa fa-check color-green"></i> Credite suplimentare la reinnoirea abonamentelor pentru client fideli
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
              <p>Primesti credite suplimentare pentru:<br />
                a.	Fiecare reinnoire a aceluiasi tip de abonament<br />
                b.	Fiecare upgrade a abonamentului existent<br />
              </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <i class="fa fa-check color-green"></i> Credite suplimentare pentru fiecare client  recomandat de tine
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">Primesti credite suplimentarepentru fiecare CLIENT NOU recomandat de tine. Pentru asta este important sa-l rogi sa completeze campul RECOMANDAT DE cu username-ul tau (adresa de mail cu care esti inregistrat pe site)</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
             <i class="fa fa-check color-green"></i> Credite suplimentare pentru documentele din sectiunea EXPERT care sunt utilizate ca Template de alti utilizatori
            </a>
          </h4>
        </div>
        <div id="collapsefour" class="panel-collapse collapse">
          <div class="panel-body">
          Pentru fiecare utilizare ca Template a unui document intocmit de tine de un alt utilizator, esti recompensat cu credite suplimentare. Pentru acest lucru,
               va trebui sa fii de accord ca documentele tale sa fie introduce in baza de date cu Template-uri. Bineinteles ca, din motive de confidentialitate, se vor sterge datele personale (legate de firma, locatii, personae, etc) din document.
          </div>
        </div>
      </div>
    </div>
{% endblock %}

