# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       ~
    mailer_encryption: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    email_from: null
    contact_email: null
    report_email: null
    email_title: null
    # link valid {reset_password_hours} hours
    reset_password_hours: 48
    # path to store invoices
    invoice_dir: "%kernel.root_dir%/../web/invoice/"
    invoice_name: proforma
    generated_documents_dir: '%kernel.root_dir%/../web/generated_docs/'

    billing_data:
        company_name: 'Aldex S.R.L.'
        registration_number: 'J26/1500/1991'
        company_code: '2533824'
        address: 'Targu Mures, Str. Tineretului nr. 2, jud. Mures'
        iban: 'RO00 0000 0000 0000 0000 0000'
        bank: 'Targu Mures Bank'
        social_capital: '200 RON'
        VAT_percent: '20%'
        invoice_series: 'ALD'
        VAT: 0.2

    pagination:
        active-credits: 10
        pending: 10
        documents: 10
        usage: 10
        history: 10
        formularDocuments: 10

    default_demo_domain_slug: 'all'
    default_demo_domain_credits: '5'
    demo_account_valid_days: '7'

    default_ads_area_slug: 'bucuresti-ilfov'