{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="col-xs-2"></div>
                <div class="col-xs-10">
                    <span class="field-validation-error" >{{ error.message|trans }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
