<div class="modal fade bs-modal-sm" id="confirmGenerateModal" tabindex="-1" role="dialog" aria-labelledby="confirmGenerateLabel">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmGenerateModalLabel">{{ 'modal.confirm-generate.title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <p id="confirmGenerateModalBody">{{ 'modal.confirm-generate.body'|trans }}</p>
                <input type="hidden" id="confirmGenerateModalFormId"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.button.no'|trans }}</button>
                <button type="button" class="btn btn-primary" id="confirmGenerateModalYes">{{ 'modal.button.yes'|trans }}</button>
            </div>
        </div>
    </div>
</div>
