{% extends "base.html.twig" %}

{% block ccontainer %}
    <div class="col-xs-3">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs clearfix" role="tablist">
            {% for subdomain in domain.subdomains %}
                {% if not subdomain.deleted %}
                    <li><a href="{{ path("subdomain_show", {'domain': domain.slug, 'subdomain': subdomain.slug }) }}">{{ subdomain.name | upper }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content domain-description">
            <div class="tab-pane active">
                <h3>{{ 'domain.in-the-section'|trans({'%domain%': domain.name}) }}</h3>
                {{ domain.description | raw }}
            </div>
        </div>
    </div>
{% endblock %}

