{% extends "base.html.twig" %}

{% block ccontainer %}
  <div class="row">
    <div class="col-xs-12">
        <h1 class="title-top">{{ 'contact.title'|trans }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <p>Site-ul <a href="http://www.online51.ro/">www.online51.ro</a> este proprietatea <strong>SC ALDEX SRL</strong></p>
      <address>
          RO2533824; J26/1500/1991<br />
          Tg Mures, str. Tineretului nr.2<br />
          Tel/Fax: 0265 260 052<br />
          mail:<a href="mailto:office@aldex.ro"> office@aldex.ro</a>
      </address>
    </div>
    <div class="col-xs-8">
      <p>Pentru suport tehnic, va stam la dispozitie telefonic (L-V, h 9.00-17.00) sau email (24/7).</p>
      <p>
          SSM :<br />
          Dana Aldea | tel: 0744 111 877 | email: <a href="mailto:dana.aldea@aldex.ro">dana.aldea@aldex.ro</a><br />
          Cristiana Aldea | tel: 0743 114 768 |email: <a href="mailto:cristiana.aldea@aldex.ro">cristiana.aldea@aldex.ro</a><br />
          PSI_SU:
          <br />
          Dana Aldea | tel: 0744 111 877 | email: <a href="mailto:dana.aldea@aldex.ro">dana.aldea@aldex.ro</a><br />
          MEDIU:<br />
          Stelian Aldea | tel: 0745 630 404 | email: <a href="mailto:stelian.aldea@aldex.ro">stelian.aldea@aldex.ro</a><br />
          HR:<br />
          Dana Aldea | tel: 0744 111 877 | email: <a href="mailto:dana.aldea@aldex.ro">dana.aldea@aldex.ro</a><br />
          MANAGEMENT:<br />
          Stelian Aldea | tel: 0745 630 404 | email: <a href="mailto:stelian.aldea@aldex.ro">stelian.aldea@aldex.ro</a><br />
          SSM – E:<br />
          Dana Aldea | tel: 0744 111 877 | email: <a href="mailto:dana.aldea@aldex.ro">dana.aldea@aldex.ro</a><br />
          Cristiana Aldea | tel: 0743 114 768 |email: <a href="mailto:cristiana.aldea@aldex.ro">cristiana.aldea@aldex.ro</a>
      </p>
      <p>In cazul in care doresti sa ne trimiti un mesaj, poti utiliza formularul de mai jos:</p>
    </div>
  </div>
{% endblock %}

