<div class="modal fade bs-modal-sm" id="configFormAddConfirmModal" tabindex="-1" role="dialog" aria-labelledby="documentConfirmModalLabel">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="configFormConfirmModalLabel">{{ 'modal.config-form-add-confirm.title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <p id="configFormConfirmModalBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.button.no'|trans }}</button>
                <button type="button" class="btn btn-primary" id="configFormAddConfirmModalYes">{{ 'modal.button.yes'|trans }}</button>
            </div>
        </div>
    </div>
</div>
