{{ form_row(form.name, 
    {'attr': {'data-val': 'true',
    'data-val-required': 'Acest camp este obligatoriu' | trans,
    } } ) }}
<span class="field-validation-valid" data-valmsg-for="{{ form.vars.full_name }}[name]" data-valmsg-replace="true" ></span>

